body {background:black;}
.container {
  display:grid;
  grid-template: 40px 40px 40px/ 40px 40px 40px;}
p {text-align:center; font-size: 12px;}
section {height:30px;width:30px; border:solid 2px red; background:forestgreen;}
.master {
background:linear-gradient(90deg, red, pink, deeppink, deeppink, deeppink);
display:flex;
align-items:center;
margin-top:60px;
}
button {width: 50px; height:20px; margin: 5px 5px 5px 5px;}
main {height:5px;}
.containerFour{ display: flex;}
div {border:solid 2px red;width:200px;}
header{border:solid 12px red; width:200px;background:linear-gradient(90deg, red, pink, deeppink, deeppink, deeppink);}
h2 {margin:30px 0 0 56px; padding: 0 0 0 0; font-size: 17px;position:absolute; font-style: italic;}
